{% extends "base.html" %}

{% block content %}

<h1>All Contacts List</h1>

<!-- <form method="post">
    {% csrf_token %}
    {{ search_form.as_p }}
    <button type="submit">Search</button>
</form> -->

<ul>
    {% for contact in contacts %}
    <li>
        ({{ forloop.counter }})
        <a href="{% url 'contact_details' contact.pk %}">{{ contact.first_name }}</a> |
        {{ contact.email }} |
        {{ contact.phone_number }} |
        <a href="{% url 'update_contact' contact.pk %}">Update</a> |
        <a href="{% url 'delete_contact' contact.pk %}">Delete</a> |
    </li>
    {% endfor %}
</ul>

<a href="/contact/add/">Add Contact</a>
<br>

{% endblock %}